.block{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;

}

h1 {
    
    font-family: Gabriola;
    font-
}

.gridimg{
	color: red;
	text-shadow: currentColor;

}

.img{
	width: 100%;

}

